.news-add-container {
  display: flex;
  flex-direction: column;

  .title-block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    .title {
      color: #464255;
      font-family: Barlow;
      font-size: 32px;
      font-weight: 600;
      line-height: 38.4px;
    }
  }
}