.user-edit-container {
    display: flex;
    flex-direction: column;

    .title-block {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

        .title {
            color: #464255;
            font-family: Barlow;
            font-size: 32px;
            font-weight: 600;
            line-height: 38.4px;
        }
    }

    .fileds {
        display: flex;
    }

    .fileds-block {
        display: grid;
        margin: 50px;
        width: 412px;
        height: 50px;
        radius: 2px;
        border: 1px solid #C4C4C4;
    }

    .profile-icon {
        max-height: 300px;
        max-width: 300px;
        border-radius: 63px;
    }
}