.news-edit-container {
    display: flex;
    flex-direction: column;

    .title-block {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

        .title {
            color: #464255;
            font-family: Barlow;
            font-size: 32px;
            font-weight: 600;
            line-height: 38.4px;
        }
    }

    .edit-block {
        margin-top: 28px;
        width: 962px;
        height: 558px;
        background: rgba(255, 255, 255, 1);
        border-radius: 10px;

        .back-icon {
            margin-left: 31px;
            margin-top: 23px;
        }
    }
}