.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: flex; /* Используем flex-бокс */
    align-items: stretch; /* Добавляем растяжение */
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: orange;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: 100%;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
}

.sign-in {
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    transition: none;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 0 150px 100px 0;
    z-index: 1000;
}

.toggle {
    background-color: orange;
    height: 100%;
    background: linear-gradient(to right, #f8a25c, #e1ec3c);
    color: #fff;
    width: 100%;
    transition: all 0.6s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    height: 100%;
    width: 100%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(0);
}

.toggle-right {
    transform: translateX(100%);
}

.notification-alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff0000; /* Красный цвет */
    color: #ffffff; /* Белый цвет */
    padding: 10px 20px; /* Внутренние отступы */
    margin-top: 10px;
    border-radius: 50px; /* Закругленные углы */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень */
    z-index: 1000;
    display: inline-block;
    text-align: center; /* Выравнивание текста по центру */
    font-size: 16px; /* Размер шрифта */
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Плавная анимация */
    opacity: 0; /* Начальная невидимость */
}

.notification-alert.show {
    top: 10px; /* Конечное положение */
    opacity: 1; /* Видимый */
}

.notification-alert.hide {
    top: 0; /* Начальное положение */
    opacity: 0; /* Невидимый */
}

